#main {
  min-height: 100%;
  background-color: $main;
  padding: 100px 25px 0 0;
}

.welcome {
  text-align: right;
  font-size: 100px;
  font-family: 'Montserrat';
  line-height: 136px;
  letter-spacing: 23.27px;
  color: $text-white;
}

.message {
  width: 89%;
  color: $text-white;
  font-family: 'Quicksand';
  text-align: center;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 5.36px;
  margin: 50px auto 0 auto;
  padding-bottom: 25px;
}